@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222 82% 10%;

        --card: 0 0% 100%;
        --card-foreground: 222 82% 10%;

        --popover: 0 0% 100%;
        --popover-foreground: 222 82% 10%;

        --primary: 222 82% 10%;
        --primary-foreground: 0 0% 100%;

        --secondary: 0 0% 100%;
        --secondary-foreground: 222 82% 10%;

        --muted: 0, 0%, 80%;
        --muted-foreground: 222 82% 30%;

        --accent: 0, 0%, 80%;
        --accent-foreground: 222 82% 10%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 222 82% 10%;
        --input: 222 82% 10%;
        --ring: 222 82% 10%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 222 82% 10%;
        --foreground: 0 0% 100%;

        --card: 222 82% 10%;
        --card-foreground: 0 0% 100%;

        --popover: 222 82% 10%;
        --popover-foreground: 0 0% 100%;

        --primary: 0 0% 100%;
        --primary-foreground: 222 82% 10%;

        --secondary: 222 82% 10%;
        --secondary-foreground: 0 0% 100%;

        --muted: 222 82% 15%;
        --muted-foreground: 206 89% 80%;

        --accent: 222 82% 15%;
        --accent-foreground: 0 0% 100%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --border: 0 0% 100%;
        --input: 0 0% 100%;
        --ring: 0 0% 100%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

@layer base {
    h1 {
        @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl text-primary;
    }

    h2 {
        @apply scroll-m-20 text-3xl font-semibold tracking-tight text-primary;
    }

    h3 {
        @apply scroll-m-20 text-2xl font-semibold tracking-tight text-primary;
    }

    p {
        @apply leading-7 text-foreground;
    }

    small {
        @apply text-sm font-medium leading-none text-muted-foreground;
    }

    .prose {
        @apply text-foreground;
    }
}

/* Hide spinner in Webkit browsers (Chrome, Safari, Edge) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide spinner in Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* Optional: to prevent up/down arrows from showing */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-ms-clear {
    display: none;
}
